@charset "utf-8";

.sub_header {
  padding-bottom: 100px;
}

.contact {
  width: 100%;
  margin-bottom: 30px;
}
.contact_line {
  height: 50px;
  line-height: 50px;
}
.contact_sign {
  width: 25%;
  background: #beb9b7;
  border: solid 1px #beb9b7;
  text-align: left;
  padding: 0 20px;
}
.contact_input {
  width: 75%;
  border: solid 1px #beb9b7;
}
.contact_content {
  height: 100px;
}

.contact_input input, select, textarea {
  border: none;
  width: 99%;
}
.contact_input input, select {
  height: 50px;
}
.contact_input textarea {
  height: 100px;
}
.contact_btn_area {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.contact_btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}
.contact_btn + .contact_btn{
  margin-left: 10px;
}
.submit_btn {
  background: #9852a5;
  color: #fff;
}
.reset_btn {
  background: #e6e6e6;
}