@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap');

*{
  font-family: 'Noto Serif JP', serif;
}

.section_inner {
  padding: 50px 10% 30px;
}

.key {
  height: 500px;
  background: center / cover no-repeat url("../images/sample_key.jpg");
  font-family: 'Noto Serif JP', serif;
  font-weight: bold;  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.key h1{
  font-size: 2.5rem;
}

.section_title {
  font-family: 'Noto Serif JP', serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.menu_title {
  display: inline-block;
  font-family: 'Noto Serif JP', serif;
  font-size: 1.5rem;
  color: #42210b;
  border-bottom: solid #42210b 1px;
  margin-bottom: 20px;
}

.center {
  text-align: center;
}

.coffee_menu_image{
  border-radius: 50%;
  width: 20%;
}

ul li{
  list-style:none
}

.header_nav {
  background: linear-gradient(90deg, #fff 20%, rgba(0,0,0,.6) 60%);
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 0;
  width: 100%;
}

.global_nav{
  display: flex;
  /*background:rgba(0,0,0,.6);*/
  align-items: stretch;
}

.global_nav_item {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.global_nav_item:hover{
  background-color: #fff;
  color: #42210b;
}

.logo {
  width: 120px;
  display: flex;
  align-items: center;
}
.logo img{
  width: 100%;
}

.section_concept{
  display: flex;
}

.section_concept p{
  width: 60%;
  line-height: normal;
}

.section_concept img{
  width: 35%;
}

.menu_section{
  background: center / cover no-repeat url("../images/sample_menu_bg.jpg");
  background-attachment: fixed;  
}
.menu_panques{
  display: flex;
  justify-content: space-around;
}

.menu_panques li{
  
  display: flex;
  background-color: white;
  box-shadow: #42210b;
  margin: 10%;
  width: 49%;
}

.menu_panques li img{
  width: 55%;
}